*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* stile main contenitore  */
.contenitore {

}
/* fine stile main contenitore  */
/* stile contenitore riga  */
.row {

}
/* fine stile contenitore riga  */
/* stili prodotto  */


/* fine stili prodotto  */


/* stili descrizione articolo  */


/* fine stili descrizione articolo  */